<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="button" fill="clear" (click)="onCancel()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-container">
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
      <div class="picture-container">
        <app-picture-selectable formControlName="imageUrl"></app-picture-selectable>
      </div>
      <div class="input-wrapper">
        <ion-title class="input-title">{{ 'players.name' | translate }}</ion-title>
        <ion-item style="height: 10vh;">
          <ion-input class="input" formControlName="name" type="text"></ion-input>
        </ion-item>
      </div>
      <app-position-selector class="position-selector-container" formControlName="positions" [inputPositions]="this.selectedPositions"
      (positionsChange)="updateSelected($event)"></app-position-selector>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-button type="submit" class="submit" [disabled]="!form.valid || !isFormDirty" (click)="onSubmit()">{{ 'players.submit' | translate }}</ion-button>
</ion-footer>
