<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="button" fill="clear" (click)="onCancel()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="page-container">
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
      <div class="picture-container">
        <app-picture-selectable formControlName="imageUrl"></app-picture-selectable>
      </div>
      <div class="input-wrapper">
        <ion-title class="input-title">{{ 'teams.name' | translate }}</ion-title>
        <ion-item>
          <ion-input class="input" formControlName="name" type="text"></ion-input>
        </ion-item>
      </div>
      <ion-title class="input-title">{{ 'teams.playerAssignator' | translate }}</ion-title>
      <div class="dragAndDrop">
        <div class="list-container">
          <ion-title class="list-title">{{ 'teams.availablePlayers' | translate }}</ion-title >
          <div #availablePlayersListContainer cdkDropList #availablePlayersList="cdkDropList" [cdkDropListData]="availablePlayersArray"
            [cdkDropListConnectedTo]="[currentTeamList]" id="availablePlayersList" class="players-list"
            (cdkDropListDropped)="drop($event)">
            <ion-row>
              <ion-col size="12" size-md="10" size-lg="6" size-xl="4" *ngFor="let player of availablePlayers; let i = index"
                cdkDrag>
                <app-player-info [showDeleteButton]="false" class="player-card" [player]="player"></app-player-info>
              </ion-col>
            </ion-row>
          </div>
        </div>
        <div class="divider-line"></div>
        <div class="list-container">
          <ion-title class="list-title">{{ 'teams.currentTeam' | translate }}</ion-title>
          <div #currentTeamListContainer cdkDropList #currentTeamList="cdkDropList" [cdkDropListData]="currentTeamPlayersArray"
            [cdkDropListConnectedTo]="[availablePlayersList]" class="team-list" id="currentTeamList"
            (cdkDropListDropped)="drop($event)">
            <ion-row>
              <ion-col size="12" size-md="10" size-lg="6" size-xl="4" *ngFor="let player of currentTeamPlayers; let i = index"
                cdkDrag>
                <app-player-info [showDeleteButton]="false" class="player-card" [player]="player"></app-player-info>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
      <div class="input-wrapper">
        <ion-title class="input-title">{{ 'games.story' | translate }}</ion-title>
        <ion-item class="dynamic-item story-item">
          <ion-textarea class="story-textarea" formControlName="story" (input)="adjustTextarea($event)"></ion-textarea>
        </ion-item>
      </div>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-button type="submit" class="submit" [disabled]="!form.valid || !isFormDirty" (click)="onSubmit()">{{ 'teams.submit' | translate }}</ion-button>
</ion-footer>