<div class="player-card" (click)="onCardClick()">
  <div class="player-avatar" *ngIf="player?.imageUrl">
    <img [src]="player?.imageUrl" alt="{{ player?.name }}" />
  </div>
  <div class="player-name-container">
    <div class="big-font">{{ player?.name|name:12 }}</div>
  </div>
  <div class="player-positions">
    <div class="player-positions-row">
      <ng-container *ngFor="let position of player?.positions">
        <!-- Usas aca positionImage -->
        <div class="position-image" positionImage [positionName]="position"></div>
      </ng-container>
    </div>
  </div>
  <ion-button *ngIf="showDeleteButton" class="delete-button" fill="clear" color="danger" (click)="onDeleteClick($event)">
    <ion-icon slot="icon-only" name="trash"></ion-icon>
  </ion-button>
</div>
