ion-toolbar{
--background: var(--ion-color-appBarBackground);
}

.home-slam-title {
  font-size: 3rem;
  font-family: 'baseballFont'; /* se podría cambiar esta fuente por otra nueva luego */
}

.user-name {
  font-size: 1.5rem; 
}

.button-icon {
  width: 3em;
  height: 3em;
}

.hidden {
  visibility: hidden;
}

ion-button {
  color:var(--ion-color-mediumEndCallToAction);
  --background: var(--ion-color-mediumEndCallToAction);
  --background-hover: var(--ion-color-callToActionGreen);
  --background-activated: var(--ion-color-callToActionGreen);
  --background-focused: var(--ion-color-callToActionGreen);
  transition: box-shadow 0.3s ease;
}
ion-button:hover {
  ion-icon{
    color:var(--ion-color-textColorDark)
  }
  --background: var(--ion-color-callToActionGreen);
  color:var(--ion-color-textColorDark);
}