ion-toolbar{
--background: var(--ion-color-customBrown);
}

.home-slam-title {
  font-size: 3rem;
  font-family: 'baseballFont'; /* se podría cambiar esta fuente por otra nueva luego */
}

.user-name {
  font-size: 1.5rem; 
}

.button-icon {
  width: 3em;
  height: 3em;
  color: var(--ion-color-customGreen);
}

.hidden {
  visibility: hidden;
}
