<ion-toolbar [ngClass]="hidden ? 'hidden' : ''">
  <ion-title size="large" class="home-slam-title">Home Slam</ion-title>

  <!-- Botones de jugadores equipos y about -->
  <ion-buttons slot="end">
    <ion-button fill="clear" aria-label="Players" (click)="goToPlayers()" class="round-button">
      <ion-icon slot="icon-only" name="baseball-outline" aria-hidden="true" class="button-icon"></ion-icon>
    </ion-button>

    <ion-button fill="clear" aria-label="Teams" (click)="goToTeams()" class="round-button">
      <ion-icon slot="icon-only" name="people-outline" aria-hidden="true" class="button-icon"></ion-icon>
    </ion-button>
    <ion-button fill="clear" aria-label="Games" (click)="goToGames()" class="round-button">
      <ion-icon slot="icon-only" name="trophy-outline" aria-hidden="true" class="button-icon"></ion-icon>
    </ion-button>

  </ion-buttons>

  <!-- Aquí va el nombre del usuario y el botón de logout con el slot end para que estén al final -->
  <ion-buttons slot="end">
    <ion-title class="user-name">{{ nickname$ | async }}</ion-title>
    <ion-button fill="clear" aria-label="About" (click)="goToAbout()" class="round-button">
      <ion-icon slot="icon-only" name="person" aria-hidden="true" class="button-icon"></ion-icon>
    </ion-button>
    <ion-button *ngIf="isOwner$ | async" fill="clear" aria-label="UsersAdmin" (click)="goToUsersAdmin()" class="round-button">
      <ion-icon slot="icon-only" name="book" aria-hidden="true" class="button-icon"></ion-icon>
    </ion-button>
    <ion-button fill="clear" aria-label="Settings" (click)="goToSettings()" class="round-button">
      <ion-icon slot="icon-only" name="settings" aria-hidden="true" class="button-icon"></ion-icon>
    </ion-button>
    <ion-button fill="clear" aria-label="Logout" (click)="onLogout()" class="round-button">
      <ion-icon slot="icon-only" name="log-out-outline" aria-hidden="true" class="button-icon"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
