.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-image {
    margin:2%;
    height: 50%; 
  }
  
  .about-title {
    font-size: 2.5rem;
    color: var(--ion-color-textColor);
  }
  
  .about-description {
    font-size: 1.5rem;
    text-align: center;
    color: var(--ion-color-textColor);
  }
  
  .about-buttons {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .about-button-col {
    padding: 0 5px;
    flex: 1;
  }
  
  
ion-content{
  --background: var(--ion-color-primaryGreen);
}

Ion-icon {
  color:var(--ion-color-textColorDark);
  font-weight: bold;
}

ion-button.button {
font-size: 1.2rem;
margin: 2%;
color:var(--ion-color-textColorDark);
--background: var(--ion-color-mediumEndCallToAction);
--background-hover: var(--ion-color-callToActionGreen);
--background-activated: var(--ion-color-callToActionGreen);
--background-focused: var(--ion-color-callToActionGreen);
transition: box-shadow 0.3s ease;
font-weight: bold;
}
ion-button.button:hover {
--background: var(--ion-color-callToActionGreen);
color:var(--ion-color-textColorDark);
}