div.user-picture {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  height: auto; /* Cambiar la altura a auto */
  ion-img {
    width: 20vw;
    height: auto; 
    object-fit: contain;
    cursor: pointer;
    align-self: center;
  }
  ion-button.picture-button {
    margin: 0;
    --padding-start: 0;
    --padding-end: 0;
    .button-native {
      padding: 0 !important;
    }
  }
}

ion-modal.auto-height {
  &.bottom {
    align-items: flex-end;
  }
  --height: auto;
  .ion-page {
    position: relative;
    display: block;
    contain: content;
    .inner-content {
      max-height: 80vh;
      overflow: auto;
      padding: 10px;
    }
  }
}
