ion-header, ion-content, ion-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar{
  text-align: center;
}
.toolbar{
  ion-title{
    font-size: 2.5rem;
    margin: 1%;
    font-family: 'titlesFont'; 
  }
} 
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-wrapper {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5%;
}

  
.input-title {
  text-align: center;
  margin-bottom: 5px;
  font-size: 1.5rem;
  color:var(--ion-color-textColor);

}

.team-images-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.team-info {
  text-align: center;
  flex: 1;
}

.team-name {
  font-size: 2rem;
  margin-bottom: 1%;
  font-family: 'titlesFont'; 

}

.team-image img {
  width: 30%;
  height: 30%;
  object-fit: cover;
  border-radius: 50%;
}

.team-runs {
  margin-top: 1%;
  font-size: 2rem;
  font-weight: bold;
}

.vs-text {
  font-size: 2.5rem;
  font-family: 'titlesFont'; 
}

.winner-votes-section {
  margin-top: 30px;
  text-align: center;
}

.winner-votes-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.team-vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.team-votes {
  font-size: 1.2rem;
}

ion-button.submitButton {
  font-size: 2rem;
  --background: #009a44;
  --background-hover: #009a44;
  --background-activated: #03ca5a;
  --background-focused: #03ca5a;
  transition: box-shadow 0.3s ease;
}

ion-button.submitButton:hover {
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.6);
}

ion-input {
  text-align: center;
}

.story-textarea {
  height: auto;
  width: 100%;
  min-height: 150px;
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  font-size: 1.2rem;
  text-align: justify;
  overflow: hidden;
  resize: none;
  padding: 1%;
}

.story-item {
  width: 100%;
  max-width: 80%;
}

h2{
  color:var(--ion-color-textColor)
}
.team-votes{
  color: var(--ion-color-textColor);
}
.team-name{
  color: var(--ion-color-textColor);
}
ion-toolbar{
  --background: var(--ion-color-secondaryGreen);
}
ion-footer{
  background-color: var(--ion-color-primaryGreen);
  box-shadow: none;
}

ion-content {
  --background: var(--ion-color-primaryGreen);
}

.input{
  color:var(--ion-color-textColor); 
}
ion-item{
  --background: var(--ion-color-secondaryGreen);
  color: var(--ion-color-textColor);
}
ion-button.button {
  color:var(--ion-color-textColorDark);
  --background: var(--ion-color-mediumEndCallToAction);
  --background-hover: var(--ion-color-callToActionGreen);
  --background-activated: var(--ion-color-callToActionGreen);
  --background-focused: var(--ion-color-callToActionGreen);
  transition: box-shadow 0.3s ease;
  font-weight: bold;
  }
  ion-button.button:hover {
  --background: var(--ion-color-callToActionGreen);
  color:var(--ion-color-textColorDark);
  }

  ion-button.submit {
    font-size: 2rem;
    transition: box-shadow 0.3s ease;
    --background: var(--ion-color-callToActionGreen);
    color: var(--ion-color-textColorDark);
    margin-bottom: 1%;
    margin-top: 1%;
    font-weight: bold;
  }
  
  ion-button.submit:hover {
    box-shadow: 0 0 20px var(--ion-color-callToActionGreen);
  }