  .rounde {
    height: 5vh;
    width: 4vw;
    margin: 2%;
    border-radius: 50px;
  }
  
  .custom-loading {
    --ion-color-primary: #7e4d32;
  }
  
  ion-content {
    --background: var(--ion-color-primaryGreen);
  }
  Ion-icon {
    color:var(--ion-color-textColorDark);
    font-weight: bold;
  }
  
  ion-button.button {
  color:var(--ion-color-textColorDark);
  --background: var(--ion-color-mediumEndCallToAction);
  --background-hover: var(--ion-color-callToActionGreen);
  --background-activated: var(--ion-color-callToActionGreen);
  --background-focused: var(--ion-color-callToActionGreen);
  transition: box-shadow 0.3s ease;
  font-weight: bold;
  }
  ion-button.button:hover {
  --background: var(--ion-color-callToActionGreen);
  color:var(--ion-color-textColorDark);
  box-shadow: 0 0 20px var(--ion-color-callToActionGreen);
  }