<ion-content [fullscreen]="true" class="main-background">
  <ion-header [translucent]="true">
    <app-toolbar></app-toolbar>
  </ion-header>
  <ion-button fill="clear" aria-label="New Player" (click)="onNewPlayer()" shape="round" class="rounde button">
    <ion-icon slot="icon-only" name="add" aria-hidden="true"></ion-icon>
  </ion-button>
  <ion-button fill="solid" class="button" (click)="downloadPlayersCSV()">
    {{ 'players.downloadPlayersCsv' | translate }}  </ion-button>
  <div class="users-panel">
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" size-xl="3" *ngFor="let player of (players.players$ | async); let i = index">
        <app-player-info
          appHighLight
          [player]="player"
          (onCardClicked)="onCardClicked(player)"
          (onDeleteClicked)="onDeleteClicked(player)"
          (onDeleteClicked)="onDeleteClicked(player)">
        </app-player-info>
      </ion-col>
    </ion-row>
  </div>

  <ion-loading [isOpen]="loading" class="custom-loading" message="Loading..."></ion-loading>
</ion-content>
